@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.selectionMenu{
    display: flex;
    align-items: center;
    gap: 1em;
}

.selectionMenu h2{
    margin-right: auto;
    padding: 0 20px;
}

.containerMain{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-right: 0.5em;
    max-height: 100vh;
    
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 12px;
    background-color: #222;
    font-family: sans-serif;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    border-radius: 50px 0px;
}

.infoTeams{
    display: flex;
    height: fit-content;
    margin-left: 1em ;
}

.selection.players{
    justify-items: flex-end;
    margin-left: auto;
}

.selection.players > * {
    margin-top: 0;
    margin-bottom: 0;
    border: #222 2px solid;
}

.players h3{
    text-align: center;
    line-height: 40px;
    background-color: bisque;
    height: 2em;
    border-radius: 20px 20px 0px 0px; 
    font-family: 'Roboto Slab', serif;
}