@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.containerPlayer{
    display: flex;
    gap: 3em;
    z-index: 100;
}

.playersUl{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 75vh;
    width: 25vw;
    border: 1px #999 solid; 
    padding-left: 1em;
}

.playersListItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.8em;
    
}

.playersListItem h4{
    font-size: 1.1em;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.playersListItem .liItem{
    width: 95%;
    height: 1px;
    background-color: #888;
    margin-top: 15px;
}

.playersListItem.hiden{
    display: none;
}

.playersListItem >*{
    margin: 0px;
}

::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Cor do indicador */
    border-radius: 4px; /* Raio das bordas do indicador */
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do indicador ao passar o mouse */
}

.list > h3{
    text-align: center;
    line-height: 44px;
    height: 2em;
    border-radius: 20px 20px 0px 0px; 
    letter-spacing: 2px;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}



  
  
  
  
  
  